@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #00203c, #00122a);
  color: #f8fafd;
  text-shadow: 0 1px 4px rgba(0,0,0,0.25);
}